<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add name="covid19Entities" connectionString="metadata=res://*/DataAccessLayer.CoVID19Model.csdl|res://*/DataAccessLayer.CoVID19Model.ssdl|res://*/DataAccessLayer.CoVID19Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-I001MNL\SQLEXPRESS;initial catalog=covid19;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>